
{% block styles %}
<style>

</style>
{% endblock %}
{% block content %}
<form id="registerForm" method="POST" enctype="multipart/form-data">  
  {% csrf_token %}
  <div class="mb-3">
   <label for="InputName" class="form-label">景點名稱</label>
   <input type="text" class="form-control" id="InputName" name="name" value="{{travel.travel_name}}">
   <div id="nameHelp" class="form-text"></div>
 </div>
   <div class="mb-3">
     <label for="InputTxt" class="form-label">景點介紹</label>
     <textarea style="height:50px;" type="text" class="form-control" id="InputTxt" name="txt">{{travel.travel_txt}} </textarea>
     <div id="divTxt" class="form-text"></div>
   </div>
   <div class="mb-3">
    <label for="InputTel" class="form-label">電話資訊</label>
    <input type="tel" class="form-control" id="Inputtel" name="tel" value="{{travel.tel}}">
    <div id="divTel" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="InputAddress" class="form-label">景點地址</label>
    <input type="text" class="form-control" id="InputAddress" name="address" value="{{travel.travel_address}}">
    <div id="divAddress" class="form-text"></div>
  </div>
   <div class="mb-3">
     <label for="InputRegion" class="form-label">縣/市</label>
     <input type="region" class="form-control" id="InputRegion" name="region" value="{{travel.region}}">
     <div id="divRegion" class="form-text"></div>
   </div>
   <div class="mb-3">
    <label for="InputTown" class="form-label">鄉/鎮/市/區</label>
    <input type="town" class="form-control" id="InputTown" name="town" value="{{travel.town}}">
    <div id="divTown" class="form-text"></div>
  </div>
   <div class="mb-3">
    <label for="formFile1" class="form-label">圖片1</label>
    <input class="form-control" type="file" id="formFile1" name="image1" value="{{travel.travel_name}}">
  </div>
  <div class="mb-3">
    <label for="formFile2" class="form-label">圖片2</label>
    <input class="form-contro2" type="file" id="formFile2" name="image2" value="{{travel.travel_name}}">
  </div>
  <div class="mb-3">
    <label for="formFile3" class="form-label">圖片3</label>
    <input class="form-control" type="file" id="formFile3" name="image3" value="{{travel.travel_name}}">
  </div>
  <div class="mb-3">
    <label for="InputLinginfo" class="form-label">交通</label>
    <input type="text" class="form-control" id="Linginfo" name="linginfo" value="{{travel.travel_ligininfo}}">
  </div>
  <div class="mb-3">
    <label for="InputOpentime" class="form-label">營業時間</label>
    <input type="text" class="form-control" id="InputOpentime" name="opentime" value="{{travel.opentime}}">
  </div>
  <div class="mb-3">
    <h7>經度/緯度(範例:41.40338, 2.17403 小數點只到第五位)</h7>
    <label for="InputPx" class="form-label">經度:</label>
    <input type="number" step='0.00001' class="form-control" id="InputPx" name="Px" value="{{travel.px}}">
    <label for="InputPy" class="form-label">緯度:</label>
    <input type="number" step='0.00001' class="form-control" id="InputPy" name="Py" value="{{travel.py}}">
    <div id="divpxy" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="InputWbsite" class="form-label">網站資訊</label>
    <input type="text" class="form-control" id="InputWebsite" name="website" value="{{travel.website}}">
  </div>
  <div class="mb-3">
    <label for="InputTicketinfo" class="form-label">票價</label>
    <input type="text" class="form-control" id="InputTicketinfoe" name="ticketinfo" value="{{travel.ticketinfo}}">
  </div>
  <div class="mb-3">
    <label for="InputParkinginfo" class="form-label">附近停車場</label>
    <input type="text" class="form-control" id="InputParkinginfo" name="parkinginfo" value="{{travel.parkinginfo}}">
    <div id="nameHelp" class="form-text"></div>
  </div>
  <div>
    <label for="InputParkinginfo" class="form-label">景點屬性:</label>
    <label>
      <input type="checkbox" name="class" value="1" onclick="return checkCount(this)" >文化類
    </label>
    <label>
      <input type="checkbox" name="class" value="2" onclick="return checkCount(this)">生態類
    </label>
    <label>
      <input type="checkbox" name="class" value="3" onclick="return checkCount(this)">古蹟類
    </label>
    <label>
      <input type="checkbox" name="class" value="4" onclick="return checkCount(this)">廟宇類
    </label>
    <label><input type="checkbox" name="class" value="5" onclick="return checkCount(this)">藝術類
    </label>
    <label><input type="checkbox" name="class" value="6" onclick="return checkCount(this)">小吃/特產類
    </label>
    <label><input type="checkbox" name="class" value="7" onclick="return checkCount(this)">國家公園類
    </label>
    <label>
      <input type="checkbox" name="class" value="8" onclick="return checkCount(this)">國家風景區類
    </label>
    <label>
      <input type="checkbox" name="class" value="9" onclick="return checkCount(this)">休閒農業類
    </label>
    <label>
      <input type="checkbox" name="class" value="10" onclick="return checkCount(this)" >溫泉類
    </label>
    <label>
      <input type="checkbox" name="class" value="11" onclick="return checkCount(this)">自然風景類
    </label>
    <label>
      <input type="checkbox" name="class" value="12" onclick="return checkCount(this)">遊憩類
    </label>
    <label>
      <input type="checkbox" name="class" value="13" onclick="return checkCount(this)">體育健身類
    </label>
    <label>
      <input type="checkbox" name="class" value="14" onclick="return checkCount(this)">觀光工廠類
    </label>
    <label>
      <input type="checkbox" name="class" value="15" onclick="return checkCount(this)">都會公園類
    </label>
    <label>
      <input type="checkbox" name="class" value="16" onclick="return checkCount(this)">森林遊樂區類
    </label>
    <label>
      <input type="checkbox" name="class" value="17" onclick="return checkCount(this)">林場類
    </label>
    <label>
      <input type="checkbox" name="class" value="18" onclick="return checkCount(this)">
      其他
    </label>

  </div>
  
   <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
   
 </form>
 <div id="div1" class="alert alert-info mt-3"></div>
 <a href="/travel/" class="btn btn-danger" >回首頁</a>
{% endblock %}
{% block scripts %}
<script>

  var checkedCount = 0;
  function checkCount(obj) {
    if (obj.checked === true) {
        if (checkedCount >= 3) {
            alert("最多只能選3項喔");
            return false;
        }
        checkedCount++;
    }
    else {
        checkedCount--;
    }

    return true
  }
  function toVaild() {
    if (checkedCount == 0) {
        alert("請至少選澤一種類型");
        return false;
    }
    return true;
  }
  
  const inpName = document.querySelector('#InputName')
  const divName = document.querySelector('#nameHelp')
  inpName.addEventListener("blur", async ()=>{  
        const response = await fetch(`/travel/travelName/?name=${inpName.value}`)
        const nameInfo = await response.json()
        if (nameInfo.name_exists){
          divName.innerText= '景點名稱已存在'
        }
        else {
          divName.innerText =''
        }

        divName.innerHTML= divName.innerText
    })

   const inpTxt = document.querySelector('#InputTxt')

    const inpTel = document.querySelector('#InputTel')
    const divTel = document.querySelector('#divtel')
    inpTel.addEventListener("blur", async ()=>{
        const response = await fetch(`/travel/trevelTel/?tel=${inpTel.value}`)
        const telInfo = await response.json()

        if (telInfo.tel_exists){
            divTel.innerText= '電話已註冊';
        }
        else {
            divTel.innerText ='';
        }

        divTel.innerHTML= divTel.innerText
    })
    

    const inpAddress = document.querySelector('#InputAddress')
    const divAddress = document.querySelector('#divAddress')
    inpAddress.addEventListener("blur", async()=>{
      const response = await fetch(`/travel/travelAddress/?address=${inpAddress.value}`)
      const addressInfo = await response.json()
      if (addressInfo.tel_exists){
        divAddress.innerText= '地址已註冊';
      }
      else {
        divAddress.innerText ='';
      }

      divAddress.innerHTML= divAddress.innerText
    })

    const inputRegion = document.querySelector('#InputRegion')
    const divRegion = document.querySelector('#divRegion')
    inputRegion.addEventListener("blur", async()=>{
      const response = await fetch(`/travel/travelRegion/?Region=${inputRegion.value}`)
      const regionInfo = await response.json()
      if (regionInfo.region_exists){
        divRegion.innerText= '縣市不存在';
      }
      else {
        divRegion.innerText ='';
      }
      divRegion.innerHTML= divRegion.innerText
    })

    const inputTown = document.querySelector('#InputTown')
    const divTown = document.querySelector('#divAddress')
    inputTown.addEventListener("blur", async()=>{
      const response = await fetch(`/travel/travelTown/?town=${inputTown.value}`)
      const townInfo = await response.json()
      if (townInfo.tel_exists){
        divTown.innerText= '鄉鎮市區不存在';
      }
      else {
        divTown.innerText ='';
      }

      divTown.innerHTML= divTown.innerText
    })


  const divInfo = document.querySelector('#div1')
  const btnSubmit = document.querySelector('#buttonSubmit')
   btnSubmit.addEventListener('click',async (event)=>{
      event.preventDefault()

      const myForm = document.querySelector('#registerForm')
      const formData = new FormData(myForm)

      const response = await fetch(`/travel/edit01/{{travel.travel_id}}`,{
        method:'POST',
        body:formData,
        headers:{
          'X-CSRFToken':'{{ csrf_token }}'
        }
      })
      const data = await response.text()
      divInfo.innerHTML = data 

   })


</script>

{% endblock %}