{% extends 'main_app/base.html' %}

{% block content %}
<h2>登入</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">帳號</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">密碼</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">登入</button>
    {% if messages %}
    <div class="alert alert-warning mt-3">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}
